html, body {
   background-color: #2d3142;
   color: #FFFDFA;
   font-family: 'Roboto', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-size: 18px;
}

.navbar-brand, .navbar, .navButton {
    background-color: transparent;
    color: #FFFFFF;
    
}
.navbar-active {
    background-color: #4F5D75;;
}
.card {
    color:rgba(0, 0, 0, 1);
    border-color: #EF8354;
}
/* .navbar {
    background-color: #4F5D75;
} */
.price {
    font-size: 15px;
    font-weight: 400;
    margin-top: 2px;
}
.row1 {
    padding-left: 0px !important;
}
.navButton  {
    border: none;
  margin-right: 30px;

}
.header {
    margin-top: 100px;
}
button {
    border: none;
    background-color: #4F5D75;
}
#bf {
    background-image: url(./breakfast.jpg);
}
#dinner {
    background-image: url(./dinner.jpg);
}
#lunch {
    background-image: url(./lunch.jpg)
}
#des {
    background-image: url(./dessert.jpg);
}
#app {
    background-image: url(./apps.jpg)
}
.menus {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 210px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 500;
}

#vid {
    padding: 0px !important;
    
}

.hours {
    background-color: white;
    color: black;
}
.ops {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.spinner-border {
    color:  #EF8354;
}
.footer {
   background-color: #4F5D75;
}
.menu {
    background-color: #BFC0C0;
}
.menus {
    margin-bottom: 20px;
}
.map-container {
    width: 100%;
    height: 50vh;
}
.menu {
    color: black;
}
#logos {
    height: 25px;
    width: 25px;
}
.explore {
    color: #EF8354
}
.diningpics {
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
}